@import '~normalize.css';

ul {
    list-style-type: none;
}

body {
    height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 35px;
    margin-bottom: 30px;
}

select {
    margin-bottom: 40px;
    cursor: pointer;
    background: #0064ff;
    border: 0;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    gap: 60px;
}

.pics img {
    width: 300px;
}

.pics img:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: .5s;
}

.reset {
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 20px;
}

.reset:hover {
    background-color: #fff;
    color: #ff0000;
    outline: 1px solid #ff0000;
}

.back {
    background-color: #0064ff;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 20px;
}

.back:hover {
    background-color: #fff;
    color: #0064ff;
    outline: 1px solid #0064ff;
}

.canvas {
    display: grid;
    /* display: none; */
    gap: 5px;
}